 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DB pkpass download</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
<div class="jumbotron">
  <h1>DB pkpass download</h1>
  <p>Lade dein DB-Ticket als pkpass-Datei herunter und speichere sie in einer Wallet-App.</p>
</div>
{% block content %}{% endblock %}
<div>
</body>
</html> 
